<div class="jumbotron">
    <h1 class="text-center">Add a Cat!</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= bootstrap_form_for @cat do |f| %>
            <!-- <div class="form-group"> -->
            <%= f.text_field :name, :placeholder => "Enter your cat's name" %>
            <%= f.text_field :breed, :placeholder => "Enter your cat's breed" %>
            <%= f.text_area :description %>
            <!-- </div> -->
            <%= f.primary %> <input type="reset" class="btn btn-warning">
        <% end %>
    </div>
</div>